<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>College</title>
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <style>

      body{
          background:rgb(248, 248, 248);
          font-family:'courier new';
          color: #272424;
          padding: 30px;
      }
      h1{
          font-size: 40px;
          text-transform: uppercase;
          letter-spacing: 2px;
          text-align: center;
      }
      table{
          font-size: 13px;
          text-align: center;
          padding: 5;
          align-self: center;
          border: 1px gray;
          width: 100%;
      }
      button{
          background:#eee;
          border:0;
          color:#777;
          cursor:pointer;
          font-family:'courier new';
          font-size:1rem;
          padding:.5rem;
      }
      input, .button {
        background:#ddd;
        border:0;
        display:inline-block;
        font-family:'courier new';
        margin-bottom:1rem;
        padding:.5rem;
        vertical-align:middle;
      }
      #fail{
          color: red;
      }
      #tableRowHead, th{
        font-size: 16px;
        font-weight: bold;
      }
      .button, #logout {
        font-weight: bold;
        text-decoration: none;
        color: #272424;
      }
      </style>
  


  </head>
  <body>
  <h1>College<% if (typeof username !== 'undefined') { %> - Welcome <%=
      username %><% } %></h1>
    <table>
      <tr>
        <th>Function</th>
        <th>Description</th>
        <th>Endpoint</th>
        <th>Permissions</th>
        <th>Roles</th>
      </tr>
      <tr>
        <% if (username!== 'Asad' && typeof username !== 'undefined'){ %>
          <td><a class="button" href="/api/courses/my-courses">My Courses</a></td>
        <%} else{ %>
          <td><a class="button" href="/api/courses/list-courses">List Courses</a></td>
        <%}%>
        <td>Anyone can list courses but a logged in student can see his</td>
        <td>GET /api/courses/list-courses</td>
        <td>$everyone, $unauthenticated, $authenticated</td>
        <td>Guest, Student, Administrator</td>
      </tr>
      <tr>
        <td>
          <form action="/api/courses/<% if (typeof accessToken !== 'undefined') {
            %>?access_token=<%= accessToken %><% } %>" method="post">

            <% if (username!== 'Asad'){ %><input type="text" name="studentId" placeholder="<%=id%>" value="<%=id%>" disabled><br>
            <select name="courseName" class="button">
              <% courseArray.forEach(course => { %>
              <option value="<%=course.courseName%>"><%=course.courseName %></option>
              <% }) %>
            </select>
            <input type="text" name="creditHours" placeholder="Credit Hours" disabled><br>
            <%} else{%>
              <input type="text" name="courseName" placeholder="Course Name" required><br>
              <input type="text" name="creditHours" placeholder="Credit Hours" required><br>
            <%}%>
            <input type="submit" value="Add">
          </form>
        </td>
        <td>Only administrators can add a new course, but a student can add it to his list</td>
        <td>POST /api/courses</td>
        <td>Admin, Student(His)</td>
        <td>Administator</td>
      </tr>
      <tr>
        <td>
          <!-- <a class="button" href="/api/courses<% if (typeof accessToken !== 'undefined') {
            %>?access_token=<%= accessToken %><% } %>">Delete Courses</a> -->
          
            <form action="/api/courses/<% if (typeof accessToken !== 'undefined') {
              %>?access_token=<%= accessToken %><% } %>" method="post">
              <input type="text" name="courseName" placeholder="Course Name"><br>
              <input type="submit" value="Delete">
            </form>
  
        </td>
        <td>Administator can delete a course but a student can delete from his list</td>
        <td>POST /api/courses</td>
        <td>Admin</td>
        <td>Administator</td>
      </tr>
      <% if (courseExist) { %>
        <tr>
          <td colspan=6>
              <span id="fail">Course already existed</span>
          </td>
        </tr>
      <% } %>
      <tr>
        <td colspan="6">
          <a class="button" id="logout" href="/logout<% if (typeof accessToken !==
            'undefined') { %>?access_token=<%= accessToken %><% } %>">
            Logout
          </a>
        </td>
      </tr>
    </table>
  </body>
</html>
